.layout_main {
  /* @apply h-screen; */
}

.header_wrap {
  background: #07071c;
  border: 1px solid #131325;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer_main {
  @apply container m-auto py-5 flex flex-wrap justify-between;
}
.footer_logo {
  @apply text-xl ml-4 font-bold self-center;
}
.footer_follow {
  @apply mt-28 flex text-[13px];
}
.twitter-logo {
  @apply bg-tw bg-no-repeat px-4 ml-4 bg-contain leading-4;
}
.telegram-logo {
  @apply bg-tg bg-no-repeat px-4 bg-contain leading-4;
}
.discord-logo {
  @apply bg-dis bg-no-repeat px-4 bg-contain leading-4;
}
